.nav {
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: left;
    flex-wrap: wrap;
    padding-left: 20%;
    padding-right: 20%;
    z-index: 999;
    justify-content: space-between;
    
}

.nav {
    justify-content: left;
    text-align: center;
    align-content: center;
    align-items: center;
    height: auto;
    margin: 0% 5%;
    padding: 0px 10px;
    position: relative;
    top: 10px;
}

.NavLinks {
    list-style-type: none;
    margin: 0;
    margin-top: 0.4em;
    padding: 0;
    overflow: hidden;
    margin-right: 40px;
    margin-left: 15px;
}

.NavItem {
    float: left;
}

.NavLink {
    display: block;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: .3s color;
}

.NavLink:hover {
    color:#7289DA
}

.xNav {
    color: white;
    font-weight: bold;
    font-size: 2em;
    margin-left: -50px;
    float: left;
    position: relative;
    bottom: 4px;
}

.NavLinks {
    display: flex;
    flex-wrap: wrap;
    z-index: 999;
    position: relative;
    bottom: 8px;
    right: 50px;
    margin: 0px 20px;
    padding: 15px 0px 15px;
    width: 100%;
    justify-content: center;
    align-items: center;
}



.Lbutton {
    border: 2px solid #23272a;
    background-color: #40444b;
    color: white;
    padding: 9px 11px;
    height: auto;
    width: 100px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    -webkit-transition-duration: 0.6s; /* Safari */
    transition-duration: 0.3s;
    position: absolute;
    top: -4px;
    left: 80vw

}
.Lbutton:hover {
    color: #7289DA
}