.blurple {
    color: #7289DA
}

.Command {
    background-color: rgba(0,0,0,.1);
    width: 90%!important;
    padding: 5px;
    margin: 10px;
    border-radius: 8px;
    color: white;
}

.commands {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.SearchBar {
    width: 90%;
    border: none;
    background-color: rgba(0,0,0,.1);
    border-radius: 5px;
    padding: 5px;
    color: white;
    overflow: hidden;
    resize: none;
}
.fade-out {
    transition: opacity 0.25s;
    opacity: 0;
  }
.fade-in {
    transition: opacity 0.25s;
    opacity: 1;
  }