.Developers {
    display: flex;
    justify-content: center;
}

.DevCard {
    text-align: center;
    width: 20%;
    background-color: rgba(0,0,0,.2);
    margin: 10px;
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,.82), 0 1px 4px rgba(0,0,0,.1);
}

.blurple {
    color: #7289DA
}

.img {
    width: 125px;
    border-radius: 50%;
}