h1 {
    color: #7289DA
}
h2 {
    color: #7289DA
}

pre {
    background-color: rgba(0,0,0,.15);
    padding: 8px;
    border-radius: 7px;
    color: rgb(163, 163, 163)
}

a {
    color: #7289DA;
    text-decoration: none;
}

