.underline {
    text-decoration: underline;
}

.LandingHeader {
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.LandingHeaderTop {
    position: relative;
    top: 20px;
    font-size: 26px;
    text-align: center;
    width: 100%;
}

