.underline {
    text-decoration: underline;
}

.LandingHeader {
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.LandingHeaderTop {
    position: relative;
    top: 20px;
    font-size: 26px;
    text-align: center;
    width: 100%;
}

.Features {
    display: flex;
    justify-content: space-around;
    width: 80%;
    left: 10%;
    position: relative;
    top: 50px;
}

.FeatureCard {
    background-color: rgba(0,0,0,.2);
    padding: 2px;
    border-radius: 4px;
    color: white;
}

.FeatureHeader {
    font-size: 18px;
}